.padding_top_80 {
  padding-top: 80px;
}
.padding_bottom_80 {
  padding-bottom: 80px;
}

.wrapper_60 {
  width: 60%;
  margin: 0 auto;
}
.bg_green {
  background-color: #1ABC9C;
}
.btn_green {
  background-color: #1ABC9C;
  color: white;
  text-transform: uppercase;
}
.btn_green .glyphicon{
  vertical-align: middle;
}

.bold {
  font-weight: bold;
}

.font_25 {
  font-size: 25px;
}

.font_20 {
  font-size: 16px;
  font-weight: bold;
 }

.margin_top_50 {
  margin-top: 50px;
}

.margin_top_30 {
 margin-top: 30px;
}

h2 {
  font-size: 50px;
   font-weight: bold;
}

.back_line {
  display: inline-block;
  height: 5px;
  width: 120px;
  background-color: #2C3E50;
  border-radius: 5px;
}

.margin_30 {
  margin: 30px 0;
}


/* header */

header {
  font-family: "Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: white;
}

.header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: #2C3E50;
  line-height: 90px;
}

.margin_left_right_25 {
  margin: 0 25px;
}

ul.hover_header li:hover {
  color: #1ABC9C;
  cursor: pointer;
}


/* Jumbo */
.jumbo {
  margin-top: 90px;
  padding: 100px 0;
}
.jumbo_text {
  width: 60%;
  margin: 0 auto;
}
.img_jumbo {
  width: 25%;
}
.font_70 {
  font-size: 70px;
  font-weight: bold;
}
.line_jumbo {
  display: inline-block;
  height: 5px;
  width: 120px;
  background-color: white;
  border-radius: 5px;
}
.glyphicon-star {
  font-size: 50px;
  vertical-align: middle;
  margin: 0 15px;
}

/* Portfolio */
.box_portfolio {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
}

.img_box {
  width: 100%;
  border-radius: 10px;
}

.opacity {
  display: none;
  position: absolute;
  height: 86%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(26,188,156, 0.7);
  border-radius: 10px;
}

.color_h2 {
  color: #2C3E50;
}

.box_portfolio:hover .opacity {
  display: block;
}

/* Footer */
.footer_top {
  background-color: blue;
}
.footer_bottom {
  padding: 20px 0;
  background-color: darkblue;
}


@media screen and (max-width: 768px) {
  .wrapper_xs_100 {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .wrapper_md_60 {
    width: 60%;
    margin: 0 auto;
  }

}
