[class*="col-"] {
  border: 1px solid yellow;
}

.text_center {
  text-align: center;
}

.margin_top_50 {
  margin-top: 50px;
}

header {
  height: 700px;
  background-color: red;
}

nav {
  height: 150px;
  background-color: #2c3e50;
  line-height: 150px;
}

span {
  color: white;
}

.container_1000 {
  max-width: 80%;
  margin: auto;
}

.jumbotron {
  background-color: green;;
}

.jumbo {
  width: 400px;
  height: 400px;
  background-color: pink;
  margin: auto;
}

.box_foto {
  height: 300px;
  width: 300px;
  background-color: red;
  text-align: center;
  margin: auto;
}

.button {
  margin: auto;
  background-color: blue;
  height: 50px;
  width: 30%;
  text-align: center;
  margin-top: 20px;
}

#footer_color {
  background-color: #2c3e50;
  color: white;
}
